@page
@model EcoEnergyRazorPages.Pages.AddSimulationModel
@{
	ViewData["Title"] = "Afegir Simulació";
}

<div>
	<div class="text-center"><h1 class="display-4">Afegir Simulació</h1></div>
	<p>@Model.MsgFileError</p>
	<form action="" method="post">
		<div class="form-group">
			<select id="systemtype" name="systemtype" onchange="show()">
				<option value="1">Solar</option>
				<option value="2">Eòlic</option>
				<option value="3">Hidroelèctric</option>
			</select>
		</div>
		<div class="form-group">
			<label id="sunhours" class="form-label">Hores de Sol</label>
			<label id="windvelocity" style="display:none;" class="form-label">Velocitat del Vent</label>
			<label id="waterflow" style="display:none;" class="form-label">Cabal d'aigua</label>
			<input id="configpar" name="configpar" class="form-control" />
			<span class="alert-danger">@Model.MsgParError</span>
		</div>
		<div class="form-group">
			<label class="form-label">Rati</label>
			<input name="ratio" class="form-control" />
			<span class="alert-danger">@Model.MsgRatioError</span>
		</div>
		<div class="form-group">
			<label class="form-label">Cost kWh</label>
			<input name="cost" class="form-control" />
			<span class="alert-danger"></span>
		</div>
		<div class="form-group">
			<label class="form-label">Preu kWh</label>
			<input name="price" class="form-control" />
			<span class="alert-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary">Afegir</button>
	</form>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script type="text/javascript">
		function show() {
			if ($("#systemtype :selected").val() == "1")
			{
				$("#sunhours").show();
				$("#windvelocity").hide();
				$("#waterflow").hide();
			}
			else if ($("#systemtype :selected").val() == "2") {
				$("#sunhours").hide();
				$("#windvelocity").show();
				$("#waterflow").hide();
			}
			else
			{
				$("#sunhours").hide();
				$("#windvelocity").hide();
				$("#waterflow").show();
			}
		}
	</script>
}