@page
@model EcoEnergyRazorPages.Pages.AddWaterConsumptionModel
@{
	ViewData["Title"] = "Afegir Consum d'Aigua";
}

<div>
	<div class="text-center"><h1 class="display-4">Afegir Consum d'Aigua</h1></div>
	<p>@Model.MsgFileError</p>
	<form action="" method="post">
		<div class="form-group">
			<label asp-for="NewWaterConsumption.RegionCode" class="form-label">Codi Comarca</label>
			<input asp-for="NewWaterConsumption.RegionCode" class="form-control" />
			<span asp-validation-for="NewWaterConsumption.RegionCode" class="alert-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="NewWaterConsumption.RegionName" class="form-label">Comarca</label>
			<input asp-for="NewWaterConsumption.RegionName" class="form-control" />
			<span asp-validation-for="NewWaterConsumption.RegionName" class="alert-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="NewWaterConsumption.Population" class="form-label">Població</label>
			<input asp-for="NewWaterConsumption.Population" class="form-control" />
			<span asp-validation-for="NewWaterConsumption.Population" class="alert-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="NewWaterConsumption.DomesticNetwork" class="form-label">Domèstic Xarxa</label>
			<input asp-for="NewWaterConsumption.DomesticNetwork" class="form-control" />
			<span asp-validation-for="NewWaterConsumption.DomesticNetwork" class="alert-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="NewWaterConsumption.EconomicActivitiesOwnSources" class="form-label">Activitats econòmiques i fonts pròpies</label>
			<input asp-for="NewWaterConsumption.EconomicActivitiesOwnSources" class="form-control" />
			<span asp-validation-for="NewWaterConsumption.EconomicActivitiesOwnSources" class="alert-danger"></span>
		</div>

		<button type="submit" class="btn btn-primary">Afegir</button>
	</form>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}